[user]
	name = "Naveen Kumar Molleti"
	email = "naveen.kumar@bankbazaar.com"
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	br = branch
	co = checkout
	st = status
	cp = cherry-pick
[core]
	autocrlf = input
